.card {
    height: 175px;
    width: 300px;
    padding: 10px;
    border-radius:1.5rem;
    justify-content: center;
}

.card p {
    margin: 0;
    font-family: "Cooper Hewitt", sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
}
