/**
Centering Components
 */
.App {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.components {
    display: table-cell;
    vertical-align: middle;
}

.components div {
    margin-left: auto;
    margin-right: auto;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/**
Branding & Instructions
 */
.openInstructions {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

/**
Card spacing & captions
 */
.caption {
    height: 21px;
}
.spark {
    margin-bottom: 40px;
}
.timePeriod {
    margin-top: 40px;
}

/**
Flash animation
 */
.flashAnimation {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.visible {
    visibility: visible;
    opacity: 1;
}
.invisible {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

/**
Flare words
 */
.long-invisible {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s, visibility 1.5s;
}
.flareFlash {
    position: absolute;
    top: 46%;
    left: 50%;
    -ms-transform: translate(-150%);
    transform: translate(-150%);
    font-size: 50px;
    color: #dfce01;
    z-index: 1;
}
.flareBack {
    position: absolute;
    top: 46%;
    right: 50%;
    -ms-transform: translate(160%);
    transform: translate(160%);
    font-size: 50px;
    color: #dfce01;
    z-index: 1;
}

/**
Start instruction and animated arrow
 */
.startInstruction {
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-175%);
    transform: translate(-175%);
    z-index: 1;
}
.arrow {
    animation: slide1 1s ease-in-out infinite;
}
@keyframes slide1 {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

