@media only screen and (max-device-width: 480px) {
    /* prevents vertical scrollbar from being seen */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
        width: 0;
    }

    /* Logo resizing */
    .logoDiv {
        width:175px;
        top: 5px;
        left: 3px;
    }

    /* Card adjustments */
    .card { height: 160px; }
    .spark { margin-bottom: 15px; }
    .timePeriod {margin-top: 15px;}
    .spark .caption { font-size: 15px; }

    /* Instructions adjustments */
    .startInstruction {
        font-size: 14px;
    }
    .openInstructions.center-right {
        -ms-transform: translate(95%);
        transform: translate(95%);
    }

    /* flare animation adjustments*/
    .flareText { font-size: 30px; }
    .flareFlash {
        -ms-transform: translate(-185%);
        transform: translate(-185%);
    }
    .flareBack {
        -ms-transform: translate(205%);
        transform: translate(205%);
    }
}
